<!doctype html>
<html>
	<head>
		<title>Node chat App</title>
	<head>
	<body>
		<h1>Welcome to chating App </h1>
		<ol id="messages"></ol>
		<form id="message-form">
			<p><input type="text" name="name" placeholder="Please enter your name" /> </p>
			<p><textarea name="body" placeholder="Please enter message"></textarea></p>
			
			<button>Send</button>
		</form>
		<p id="userLocation"> </p>
		<button id="send-location">Send Location</button>
	</body>
	<script src="socket.io/socket.io.js"></script>
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="javascripts/chat.js"></script>

</html>